<head>
    {% extends "base.html" %}
</head>

{% block content %}

<h1>- Home -</h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi mollitia voluptates laboriosam, exercitationem reiciendis, sed natus at tenetur quibusdam, suscipit cupiditate id soluta! Ea dolorum, hic corrupti possimus, sapiente corporis, aperiam quasi saepe iste eos perspiciatis maiores mollitia quos? Eius consequuntur nihil expedita est libero minus perferendis vero voluptate vel ipsam. Dolorum assumenda alias officia delectus voluptatibus nihil dignissimos, ratione voluptate quasi voluptatum harum consectetur numquam voluptas rem sed ullam, consequuntur labore! Dolorum sapiente excepturi blanditiis, qui error maxime obcaecati reprehenderit sit porro labore quis! Rem sequi sunt quo, exercitationem quasi blanditiis dolorem voluptate nihil! Accusantium doloribus officiis fugiat numquam?
    
</p>
{% endblock %}